<!--{% if widget.is_initial %}
    {{ widget.initial_text }}: 
    <a href="{{ widget.value.url }}">{{ widget.value }}</a>
    {% if not widget.required %}
        <input style="display: none;" type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">        
    {% endif %}
    <br>
    {{ widget.input_text }}:
{% endif %}-->


{% load static %}




{% if widget.is_initial and widget.value.url %}
    <div id="container_for_id_image" class="img_preloader_jar">        
            <img src="{{ widget.value.url }}" class="img_preloader_field"/>
            <div class="img_preloader_closer" onclick="remove_photo(event)" title="удалить">+</div>
    </div>
{% endif %}
<input type="{{ widget.type }}" name="{{ widget.name }}" {% include "django/forms/widgets/attrs.html" %}>
<input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}" style="display: none;">
<!-- name=image-clear id=image-clear_id -->

<script>
    HTMLElement.prototype.setStyle = function(styles){
        
        for(let key in styles) this.style[key] = styles[key];
    }

    function createContainer(target){
        var container = document.createElement('div');        
        container.id = 'container_for_' + target.id;
        container.setStyle({
            padding : '15px',
            position : 'relative',
            width: 'max-content',
            margin: 'auto'
        })
        target.parentElement.insertBefore(container, target);        

        var img = document.createElement('img');        
        img.style.height = '0px';
        img.style.borderRadius = '15px';
        img.style.transition = '0.5s';         

        container.img = img;
        container.close = createRemoveButtn(target);
        container.appendChild(container.img);   
        container.appendChild(container.close);   

        return container;
    }

    function createRemoveButtn(target) {
        let close = document.createElement('div')
        close.setStyle({
            position: 'absolute',
            width: '1em',
            height: '1em',
            backgroundColor: 'red',
            borderRadius: '20px',
            top: '1.5em',
            right: '1.5em',
            cursor: 'pointer'
        })
        close.onclick = remove_photo;
        return close;
    }    



    function remove_photo(event){
        
        // event.stopPropagation();
        // event.preventDefault();
        target = document.querySelector('#id_{{ widget.name }}');
        target.value = null;

        upload_photo({target:target}); 
    }

    function upload_photo(event){        

        let container_id = 'container_for_' + event.target.id;
        var container = (document.getElementById(container_id) || createContainer(event.target)).querySelector(
            'img'
        );
                        

        document.getElementById('{{ widget.name }}-clear_id').checked = !event.target.files[0];
        if (!event.target.files[0]) {    
            
            container.style.height = '0px';
            // container.parentElement.close.style.display = 'none';
            container.nextElementSibling.style.display = 'none';

            setTimeout(()=>{
                container.src = '';
                // container.parentElement.style.padding = '0px';
            }, 500);
            return;            
        }


        var reader = new FileReader();
        reader.onload = function () {

            container.src = reader.result;      
            setTimeout(()=>{ 
                container.style.height = '200px';
                container.nextElementSibling.style.display = 'block';
                // container.parentElement.close.style.display = 'block';
                // container.parentElement.style.padding = '15px';
            }, 0)
        };

        reader.readAsDataURL(event.target.files[0]);

    }
</script>


<style>
    #container_for_id_image img{ 
        box-shadow: 0px 0px 5px gray; 
        /* transition: 2s;  */
    }
    /* #container_for_id_image{transition: 3s;} */
    .img_preloader_jar {
        padding: 15px;
        position: relative;
        width: max-content;
        margin: auto;
        /* transition: 2s; */
    }

    .img_preloader_field {
        height: 200px;
        border-radius: 15px;
        transition: 0.5s;           
    }

    .img_preloader_closer {
        position: absolute;
        width: 1em;
        height: 1em;
        background-color: red;
        opacity: .8;
        border-radius: 20px;
        top: 1.5em;
        right: 1.5em;
        cursor: pointer;
        display: block;
        transition: 1s;
        color: transparent;

        line-height: 1em;
        /* color: lightblue; */
        /* transform: rotate(45deg); */
    }

    .img_preloader_closer:hover {
        transform: rotate(135deg) scale(1.1);
        color: burlywood;
        opacity: 1;
        background-color: orangered;
    }

/* {% if widget.default_image %}  */
    label[for="id_{{ widget.name }}"] {
        background: url("{% get_static_prefix %}{{ widget.default_image }}") no-repeat;
        width: 2em;
        height: 2em;
        background-size: contain;
        color: transparent;
        cursor: pointer;
        /* transition: opacity 1s, transform 1s; */
        transition: 1s;
        transform: scale(.9);
        opacity: 0.3;        
    }

    label[for="id_{{ widget.name }}"]:hover {
        opacity: 1;
        transform: scale(1);
    }
    
    label[for="id_{{ widget.name }}"]::after{
        position: absolute;
        content: '{{hint}}';
        top: .5em;
        left: 0px;
        min-width: 10em;        
        height: 2em;
        opacity: 0;
        transition: 1s;
        z-index: 5;
        color: gray;
        font-size: small;
    }
    label[for="id_{{ widget.name }}"]:hover:after{
        opacity: .5;
        left: 2em;
    }
/* {% else %} */
    label[for="id_{{ widget.name }}"] {
        cursor: pointer;
        color: gray;
    }
/* {% endif %} */
</style>