<!--{% if widget.is_initial %}
    {{ widget.initial_text }}: 
    <a href="{{ widget.value.url }}">{{ widget.value }}</a>
    {% if not widget.required %}
        <input style="display: none;" type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">        
    {% endif %}
    <br>
    {{ widget.input_text }}:
{% endif %}-->

{% if widget.is_initial %}
    <div id="container_for_id_image" class="img_preloader_jar">
        <img src="{{ widget.value.url }}" class="img_preloader_field">
        <div class="img_preloader_closer" onclick="imgpreloaderClose(event)"></div>
    </div>
{% endif %}
<input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>





<script>
    HTMLElement.prototype.setStyle = function(styles){
        
        for(let key in styles){
            
            this.style[key] = styles[key];
        }
    }

    function createContainer(target){
        var container = document.createElement('div');        
        container.id = 'container_for_' + target.id;
        container.setStyle({
            padding : '15px',
            position : 'relative',
            width: 'max-content',
            margin: 'auto'
        })
        target.parentElement.insertBefore(container, target);        

        var img = document.createElement('img');        
        img.style.height = '0px';
        img.style.borderRadius = '15px';
        img.style.transition = '0.5s';         

        container.img = img;
        container.close = closeCreate(target);
        container.appendChild(container.img);   
        container.appendChild(container.close);   

        return container;
    }

    function imgpreloaderClose(event){
        target = document.querySelector('#id_{{ widget.name }}')
        target.value = null;
        upload({target:target}); 
    }

    function closeCreate(target){
        let close = document.createElement('div')
        close.setStyle({
            position: 'absolute',
            width: '1em',
            height: '1em',
            backgroundColor: 'red',
            borderRadius: '20px',
            top: '1.5em',
            right: '1.5em',
            cursor: 'pointer'
        })
        close.onclick = imgpreloaderClose;
        return close;
    }

    function upload(event){        

        let container_id = 'container_for_' + event.target.id;
        var container = (document.getElementById(container_id) || createContainer(event.target)).querySelector('img');
                        

        if (!event.target.files[0]) {    
            
            container.style.height = '0px';
            // container.parentElement.close.style.display = 'none';
            container.nextElementSibling.style.display = 'none';

            setTimeout(()=>{
                container.src = '';
                // container.parentElement.style.padding = '0px';
            }, 500);
            return;            
        }


        var reader = new FileReader();
        reader.onload = function () {

            container.src = reader.result;      
            setTimeout(()=>{ 
                container.style.height = '200px';
                container.nextElementSibling.style.display = 'block';
                // container.parentElement.close.style.display = 'block';
                // container.parentElement.style.padding = '15px';
            }, 0)
        };

        reader.readAsDataURL(event.target.files[0]);

    }
</script>




<style>
    .image_icon{
        background-size: contain;
        background-repeat: no-repeat;     
        cursor: pointer;
        border:1px solid lightblue;
        box-shadow: 0 0 15px lightblue;
        border-radius: 32px;
        width: 50px;
        height: 50px;
        transition: 0.5s;              
    }
    label.file_icon, label.image_icon:hover{
        box-shadow: 0 0 15px blue;   
    }    
    .img_preloader_jar{
        padding: 15px; 
        position: relative; 
        width: max-content; 
        margin: auto;
    }
    .img_preloader_field{
        height: 200px; 
        border-radius: 15px; 
        transition: 0.5s;
    }
    .img_preloader_closer{
        position: absolute; 
        width: 1em; 
        height: 1em; 
        background-color: red; 
        border-radius: 20px; 
        top: 1.5em; 
        right: 1.5em; 
        cursor: pointer; 
        display: block;
    }
</style>